*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONT DEFINED FOR SITE */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
h1, h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 36px;
    }

    h3, h4 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 24px;
    }

    body {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
    }



/* NAVIGATION AREA */
nav{
    position: sticky;
    display: flex;
    top: 0;
    justify-content: space-around;
    background-color: #FF8C42;
    padding: 10px;
    font-family: 'poppins';
    
}
.navlinks {
    display: flex;
    list-style: none;
    align-items: center;
    padding-inline-start: 10px;
    margin-top: 0rem;
    gap: 20px;
    color: white;
    text-decoration: none;

}

.navlinks a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
}
.navlinks a:hover{ 
 color: black;
}

.logo a{
    text-decoration: none;
    font-family: 'caveat';
    font-size: 30pt;
    font-weight: 900;
    color: whitesmoke;
}



/* HERO-SECTION */
.hero {
    background-image: url("./images/pic\ 1.jpg");
    height: 90vh;
    background-size: cover, contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* COMMENTS */
    /* the height was used to control the amount of space i want the hero section to cover on my screen */
    /* Display flex was used tell css that i am getting ready to give it a direction, flex-driection: column; was used to tell it i want a vertical direction. align-item: center (will make item come to the middle) :end (will make it go to the far end (left)*/
    /* */
}
    
.hero h1{
    font-family: poppins;
    font-size: 64pt;
    position: absolute;
    left: 50%;
    top: 20%;
    margin-top: 80px;
    line-height: 1.1;
    font-weight: 900;
    /* text-shadow: -3px -3px 10px #fefefe,3px 3px 10px #00000026; */
    /* COMMENTS */
/* the line-height was used to either reduce or increase the spacing */
/* the top was used to control the distance from the top to move the h1 */
/* the left was used to adjust the distance from the left (positioning) */
}
.hero p{
    position: absolute;
    left: 55.5%;
    top: 63%;
}


/* BUTTONS */
.buttons{
    margin-left: 50%;
    margin-top:28%;
    padding:20px;
}
.primary-button{
    background-color: #FF8C42;
    font-family: 'poppins'; 
    font-weight: 700;
    padding:20px;
    margin:10px;
    border:none;
    border-radius: 25px;
    /* box-shadow:-4px -4px 10px #E67A30, 6px 6px 10px #00000026;    /* basic syntax is  */
    
    /* offset x offset y blur-radius color. This is the analogy behind this, looking at a 
    sunlight shining from the top-left.   */
    text-transform: uppercase;
}

.primary-button:hover{
    box-shadow: 2px 2px 2px #E67A30,-2px -2px 2px #00000026;
}

.secondary-button{
    background-color: #5DA9E9;
    font-family: 'poppins'; 
    font-weight: 700;
    padding:20px;
    border:none;
    border-radius: 25px;
    /* box-shadow: -5px -5px 10px #fefefe, 5px 5px 10px #00000026; */
    text-transform: uppercase;

}
.secondary-button:hover{
    box-shadow: 2px 2px 2px #4A90D6, -2px -2px 2px #00000026;
}

/* SECOND SECTION */
.sec-2{
display: flex;
flex-direction: column;
justify-content: center;
gap: 40px;
margin-top: 20px;
}
.sec2 .sec2-content{
    ima
}